<div id="console">
    <span>Click on a coin</span>
</div>
<section class="conainer dashboard mx-auto">
    <div class="row">
        <div class="col text-center">
            <div id="asideCoins" class="col">
                <input class="form-control" id="dropDownCoins" list="dropDown">
                <datalist id="dropDown">
                    <% coins.forEach( (coin) => { %>
                        <option id="<%= coin.id %>">
                            <%= coin.id %>
                                </options>
                                <% }) %>
                </datalist>
                <div class="coinsDasboard sortable">
                    <% userCoins.forEach( (coin) => { %>
                        <img id="<%= coin %>" src="https://files.coinmarketcap.com/static/img/coins/128x128/<%= coin %>.png">
                        <% }) %>
                </div>
            </div>
        </div>

        <div class="col-6 text-center">
            <form  class="inputBoxDashboard" method="POST" action="/user/post">
                <textarea id="dashboardTextarea" name="message" rows="2" class="form-control" placeholder="Share Articles, videos and Pictures"></textarea>
                <div>
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fa fa-share"></i> Share
                    </button>
                </div>
            </form>
             <br>
            <% messages.forEach(message=>{ %>
            <div class="row messageBoxDashboard">
                    <div class="col-6 text-left">
                        <% if(message.isOwn) { %>
                            <a href="<%=user.id%>" class="nostyle"><img class="rounded-circle" style="width:50px;height:50px" src="<%=user.photo%>"></a>
                            <i>You wrote:</i>
                            <% } else if (message.private) { %>
                                <a href="/user/<%=connection.id%>" class="imgRightMargin nostyle"><img style="width:50px;height:50px" src="<%=message.sender.photo%>"></a>
                                <i><%=message.sender.name %> sent you a message:</i>
                                <a href="/user/message/<%=message.senderId%>" class="btn btn-success">Reply</a>
                                <% } else { %>
                                    <a href="/user/<%=connection.id%>" class="imgRightMargin nostyle"><img style="width:50px;height:50px" src="<%=message.sender.photo%>"></a>
                                    <i><%=message.sender.name %> wrote:</i>
                                    <% } %>
                    </div>
                    <div class="col-6 text-right">
                        <%=message.time%>
                    </div>
                </div>
                <div class="jumbotron">
                    <%=message.text%>
                </div>

                <% }) %>

        </div>
        <div class="col text-center">
            <% connections.forEach(connection=>{ %>
                <a href="/user/<%=connection.id%>" class="imgRightMargin nostyle"><img class="rounded-circle" style="width:64px;height:64px" src="<%=connection.photo%>"></a>
                <% }) %>
        </div>
    </div>
</section>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/dashboardConsole.js"></script>