<form class="container" id="editForm" action="/user/<%=user.id%>" method="POST" novalidate>
  <div class="tab-pane" id="edit">
    <div class="text-center">
      <br>
      <img class="rounded-circle" src="<%=user.photo%>">
    </div>
    <form role="form">
      <div class="form-group">
        <input type="file" class="form-control-file" name="file" id="exampleInputFile" aria-describedby="fileHelp">
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Name</label>
        <div class="col-lg-9">
          <input class="form-control" name="name" type="text" value="<%=user.name%>">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Email</label>
        <div class="col-lg-9">
          <input class="form-control" name="email" type="email" value="<%=user.email%>">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Company</label>
        <div class="col-lg-9">
          <input class="form-control" name="company" type="text" value="<%=user.company%>">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Website</label>
        <div class="col-lg-9">
          <input class="form-control" name="website" type="url" value="<%=user.website%>">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Bio</label>
        <div class="col-lg-9">
          <textarea class="form-control" name="bio" type="url"><%=user.bio%></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Address</label>
        <div class="col-lg-9">
          <input id="locationName" name="locationName"  class="form-control" name="address" type="text" value="" placeholder="Street">
          <input id="lat" name="lat"  class="hidden form-control" type="number" value="">
          <input id="lng" name="lng"  class="hidden form-control" type="number" value="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Bittrex Api</label>
        <div class="col-lg-9">
          <input class="form-control" placeholder="Bittrex Api Key" name="bittrex_apikey" type="text" value="<%=user.bittrex.apikey%>"></input>
          <input class="form-control" placeholder="Bittrex Api Secret" name="bittrex_apisecret" type="text" value="<%=user.bittrex.apisecret%>"></input>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Poloniex Api</label>
        <div class="col-lg-9">
          <input class="form-control" placeholder="Poloniex Api Key" name="poloniex_apikey" type="text" value="<%=user.poloniex.apikey%>"></input>
          <input class="form-control" placeholder="Poloniex Api Secret" name="poloniex_apisecret" type="text" value="<%=user.poloniex.apisecret%>"></input>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Password</label>
        <div class="col-lg-9">
          <input class="form-control" name="password" type="password">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
        <div class="col-lg-9">
          <input class="form-control" name="passwordRepeat" type="password" value="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
         <!-- <input type="reset" class="btn btn-outline-danger" value="Cancel"> -->
          <input type="submit" class="btn btn-outline-success" value="Save Changes">
        </div>
      </div>
    </form>
  </div>
</form>
<% if (typeof message != "undefined") { %>
  <div class="error-message">
    <%= message %>
  </div>
  <% } %>
    <p>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBALrBTq-TwdILcvBVfkKNzvWmbXzDHiN0&libraries=places"></script>
      <script src="/javascripts/googlemaps.js"></script>