<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="jumbotron my-auto  ">

    <% if(!user.portfolio) { %>
        <div class="row text-center">
            <div class="col">
                You don't have a portfolio. Please go to <a href="/user/edit">Settings</a> and enter your Poloniex and Bittrex API keys
            </div>
        </div>


    <% } else { %>

  
     <script src="/chart.js/dist/Chart.min.js"></script>
     <canvas id="pieChart" width="400" height="400"></canvas>
     <script>
     var ctx = document.getElementById("pieChart");

     var data = {
        labels: [
            <% pieTotalLabels.forEach(label=>{ %>
                "<%=label%>",
            <% }) %>
        ],
        datasets: [
            {
                data: [<%=pieTotalData%>],
                backgroundColor: [

                'rgba(255, 199, 132, 0.7)',
                'rgba(154, 162, 235, 0.7)',
                'rgba(55, 206, 86, 0.7)',
                'rgba(75, 192, 92, 0.7)',
                'rgba(153, 202, 255, 0.7)',
                'rgba(55, 159, 164, 0.7)',
                 'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
                'rgba(153, 102, 255, 0.7)',
                'rgba(255, 159, 64, 0.7)'
                ],
                hoverBackgroundColor: [


                'rgba(255, 199, 132, 1)',
                'rgba(154, 162, 235, 1)',
                'rgba(55, 206, 86, 1)',
                'rgba(75, 192, 92, 1)',
                'rgba(153, 202, 255, 1)',
                'rgba(55, 159, 164, 1)',
                 'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                ]
            }]
    };
        var myPieChart = new Chart(ctx,{
            type: 'pie',
            data: data,
            options: {
                responsive: false
            }
        });
        
    
        </script>
     

<% if(piePoloniexLabels.length!==0 && pieBittrexLabels.length!==0) { %>

  <canvas  style="float:left" id="pieChartPoloniex" width="200" height="200"></canvas>
     <script>
     var ctxp = document.getElementById("pieChartPoloniex");
     var data = {
        labels: [
            <% piePoloniexLabels.forEach(label=>{ %>
                "<%=label%>",
            <% }) %>
        ],
        datasets: [
            {
                data: [<%=piePoloniexData%>],
                backgroundColor: [

                'rgba(255, 199, 132, 0.7)',
                'rgba(154, 162, 235, 0.7)',
                'rgba(55, 206, 86, 0.7)',
                'rgba(75, 192, 92, 0.7)',
                'rgba(153, 202, 255, 0.7)',
                'rgba(55, 159, 164, 0.7)',
                 'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
                'rgba(153, 102, 255, 0.7)',
                'rgba(255, 159, 64, 0.7)'
                ],
                hoverBackgroundColor: [


                'rgba(255, 199, 132, 1)',
                'rgba(154, 162, 235, 1)',
                'rgba(55, 206, 86, 1)',
                'rgba(75, 192, 92, 1)',
                'rgba(153, 202, 255, 1)',
                'rgba(55, 159, 164, 1)',
                 'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                ]
            }]
    };
        var myPieChart = new Chart(ctxp,{
            type: 'pie',
            data: data,
            options: {
                responsive: false,
                legend: {
                    display: false
                },
            }
        });
        
    
        </script>

 <canvas  id="pieChartBittrex" width="200" height="200"></canvas>
     <script>
     var ctxb = document.getElementById("pieChartBittrex");
     var data = {
        labels: [
            <% pieBittrexLabels.forEach(label=>{ %>
                "<%=label%>",
            <% }) %>
        ],
        datasets: [
            {
                data: [<%=pieBittrexData%>],
                backgroundColor: [

                'rgba(255, 199, 132, 0.7)',
                'rgba(154, 162, 235, 0.7)',
                'rgba(55, 206, 86, 0.7)',
                'rgba(75, 192, 92, 0.7)',
                'rgba(153, 202, 255, 0.7)',
                'rgba(55, 159, 164, 0.7)',
                 'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
                'rgba(153, 102, 255, 0.7)',
                'rgba(255, 159, 64, 0.7)'
                ],
                hoverBackgroundColor: [


                'rgba(255, 199, 132, 1)',
                'rgba(154, 162, 235, 1)',
                'rgba(55, 206, 86, 1)',
                'rgba(75, 192, 92, 1)',
                'rgba(153, 202, 255, 1)',
                'rgba(55, 159, 164, 1)',
                 'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                ]
            }]
    };
        var myPieChart = new Chart(ctxb,{
            type: 'pie',
            data: data,
            options: {
                responsive: false,
                legend: {
                    display: false
                }
            },
                            
        });
        
    
        </script>
    <% } %>

        <div class='col'>text</div>

        <div class="row text-nowrap text-center">
            <div class="col">
                <br>
                <p>Total value: $<%=Math.round(100*user.portfolio.total)/100%></p>
            </div>
        </div>
    
         <% user.portfolio.coins.forEach(coin=>{ if(coin.value) { %>

        <div class="row text-nowrap text-center">
            <div class="col">
                <p><img src="https://files.coinmarketcap.com/static/img/coins/128x128/<%=coin.id%>.png"><%=coin.id%>
            </div>
            <div class="col">
                <p>$<%= coin.value %></p>
            </div>
            <div class="col">
                <p><canvas  class="coin-chart" id="<%=coin.id%>" width="150" height="75"></canvas></p>
            </div>
        </div>
        <% }}) %>
    <% } %>    
    </div>

</div>
<script src="/javascripts/portfolio.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
</body>

</html>